<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSelection</key>
	<array>
		<integer>3</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {191, 772}}</string>
		<string>{{192, 0}, {1169, 772}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>D322106C-D095-463C-A481-7DDE9976CD8E</string>
		<string>8F7E1F42-2CBF-427A-AA23-281D01C278C2</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0F5B4E94-FB6A-474F-B842-12B39748207B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2ACB4616-B602-4EDE-8112-17D7985E3285</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40793B08-2A79-42A3-85B4-7B03DFBABEA1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>721F96BD-C185-4068-BFD6-C84B9BE1AC6A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F7E1F42-2CBF-427A-AA23-281D01C278C2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>99BA1532-14FA-4D27-B980-B8A233C06D4D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D830C416-BF8F-45E7-9776-E1F76E40A268</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FFF3B74B-BF7C-45D0-B5A1-47AAF70B72F5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {707, 224}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 762}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>8F7E1F42-2CBF-427A-AA23-281D01C278C2</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>2</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>99BA1532-14FA-4D27-B980-B8A233C06D4D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FFF3B74B-BF7C-45D0-B5A1-47AAF70B72F5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8F7E1F42-2CBF-427A-AA23-281D01C278C2</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 686}}</string>
	<key>mainDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 83 1361 794 0 0 1440 877 </string>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
